.boton-menu:hover {
    -fx-background-color: #92daec;
    -fx-text-fill: #254150;
}

.boton-menu {
    -fx-border-color: #92daec;
    -fx-cursor: hand;
    -fx-background-color: #254150;
    -fx-text-fill: #92daec;
}

.boton-clasificacion {
    -fx-graphic: url('../resources/icons/clasificacion.png');
}

.boton-calendario {
    -fx-graphic: url('../resources/icons/calendar.png');
}

.boton-equipos {
    -fx-graphic: url('../resources/icons/equipos.png');
}

.boton-arbitros {
    -fx-graphic: url('../resources/icons/arbitro.png');
}

.boton-estadisticas {
    -fx-graphic: url('../resources/icons/graph.png');
}