.fondo-panel {
    -fx-background-color: #FFFDE8;
}

.label-color {
    -fx-color: #254150
}

.label-amarillo {
    -fx-text-fill: #FEF9CE;
    -fx-font-weight: bold;
}

.label-azul-claro {
    -fx-text-fill: #92daec;
    -fx-font-weight: bold;
}

.boton:hover {
    -fx-background-color: #92daec;
    -fx-text-fill: #254150;
}

.boton {
    -fx-border-color: #92daec;
    -fx-background-color: #254150;
    -fx-text-fill: #92daec;
    -fx-cursor: hand;
}

.boton-menu:hover {
    -fx-background-color: #92daec;
    -fx-text-fill: #254150;
}

.boton-menu {
    -fx-border-color: #92daec;
    -fx-cursor: hand;
    -fx-background-color: #254150;
    -fx-text-fill: #92daec;
}

.boton-detalles {
    -fx-graphic: url('../resources/icons/detail.png');
}

.boton-clasificacion {
    -fx-graphic: url('../resources/icons/clasificacion.png');
}

.boton-calendario {
    -fx-graphic: url('../resources/icons/calendar.png');
}

.boton-equipos {
    -fx-graphic: url('../resources/icons/equipos.png');
}

.boton-arbitros {
    -fx-graphic: url('../resources/icons/arbitro.png');
}

.boton-estadisticas {
    -fx-graphic: url('../resources/icons/graph.png');
}

.boton-plantilla {
    -fx-graphic: url('../resources/icons/plantilla16.png');
}

.boton-servidor {
    -fx-graphic: url('../resources/icons/servidor.png');
}

.boton-iniciar-servidor {
    -fx-graphic: url('../resources/icons/start.png');
}

.boton-detener-servidor {
    -fx-graphic: url('../resources/icons/stop.png');
}

.estado-detenido {
    -fx-text-fill: #e43939;
}

.estado-iniciado {
    -fx-text-fill: #38e247;
}

.fondo-impar {
    -fx-background-color: #254150;
}

.fondo-par {
    -fx-background-color: #16242F;
}